<div class="category">
  <div class="posts-list">
    <button mat-flat-button routerLink="/anime">Anime Reviews</button>
  </div>
  <div class="posts-list">
    <button mat-flat-button routerLink="/games">Game Reviews</button>
  </div>
</div>
<div class="entry">
  <div class="posts-list">
    <img src="https://cdn.discordapp.com/attachments/449679661597720576/602239017848668190/oO39vIm.png">
    <span>Madoka Magi</span>
  </div>
</div>
<div class="entry">
  <div class="posts-list">
    <img src="https://cdn.discordapp.com/attachments/449679661597720576/602239017848668190/oO39vIm.png">
    <span>Madoka Magi</span>
  </div>
</div>
