<div class="hero-image">
  <div class="hero-text">
    <span style="font-size:80px">Welcome to</span>
    <br>
    <span>Etheria</span>
  </div>
</div>
  
<table>
  <tr>
    <td>
      <div class="thumbnail1">
        <mat-card>
          <img mat-card-image src="assets/images/thumbnails/thumbnail-example-1.jpg" alt="thumbnail-example-1">
          <mat-card-title>Example Title</mat-card-title>
        </mat-card>
      </div>
    </td>
    <td>
      <div class="thumbnail2">
        <mat-card>
          <img mat-card-image src="assets/images/thumbnails/thumbnail-example-2.jpg" alt="thumbnail-example-1">
          <mat-card-title>Example Title</mat-card-title>
        </mat-card>
      </div>
    </td>
    <td>
      <div class="thumbnail3">
        <mat-card>
          <img mat-card-image src="assets/images/thumbnails/thumbnail-example-3.jpg" alt="thumbnail-example-1">
          <mat-card-title>Example Title</mat-card-title>
        </mat-card>
      </div>
    </td>
  </tr>
</table>
  