<div class="header">
  <span class="mat-display-3">Contact</span>
</div>

<div class="section">
  <span class="mat-display-2">Author & Administrator</span>
</div>

<table>
  <tr>
    <td width="20%">
      <img src="../../assets/images/avatars/Piia-Example.png" alt="example">
    </td>
    <td width="80%">
      <p class="mat-display-2">Piia</p>
      <p class="mat-display-2">Example Contact Text</p>
    </td>
  </tr>
</table>

<hr>

<div class="section">
  <span class="mat-display-2">Authors</span>
</div>
  
<table>
  <tr>
    <td width="20%">
      <img src="../../assets/images/avatars/Author-Example.png" alt="example">
    </td>
    <td width="80%">
      <p class="mat-display-2">Author Name</p>
      <p class="mat-display-2">Example Contact Text</p>
    </td>
  </tr>
</table>

<table>
  <tr>
    <td width="20%">
      <img src="../../assets/images/avatars/Author-Example.png" alt="example">
    </td>
    <td width="80%">
      <p class="mat-display-2">Author Name</p>
      <p class="mat-display-2">Example Contact Text</p>
    </td>
  </tr>
</table>