.header {
    margin-bottom: 4rem;
    margin-top: 2rem;
    text-align: center;
    background-color: #baffc9;
    color: black;
    padding: 15px 0px 15px 0px;
    margin-right: 450px;
    margin-left: 450px;
}

.section {
    margin-bottom: 3rem;
    margin-left: 178px;
}

table {
    width: 1000px;
    height: 350px;
    background-color: #baffc9;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 4rem;
}

table img {
    width: 200px;
    height: 350px;
}

table span {
    margin-left: 175px;
}

table p {
    margin-left: 175px;
}

hr {
    margin-bottom: 2.5rem;
    margin-left: 150px;
    margin-right: 150px;
}