.header {
    margin-bottom: 4rem;
    margin-top: 2rem;
    text-align: center;
    background-color: #bae1ff;
    color: black;
    padding: 15px 0px 15px 0px;
    margin-right: 450px;
    margin-left: 450px;
}

table {
    width: 1000px;
    height: 350px;
    background-color: #bae1ff;
    margin-bottom: 4rem;
    margin-left: auto; 
    margin-right: auto;
}

table img {
    width: 200px;
    height: 350px;
}

table span {
    margin-left: 175px;
}