<div class="header">
  <span>Contact</span>
</div>

<div class="section">
  <span>Author & Administrator</span>
</div>

<table>
  <tr>
    <td class="avatar">
      <img src="../../assets/images/avatars/Piia-Avatar.png" alt="Piia">
    </td>
    <td class="text">
      <p>Piia</p>
      <p>piiap5559@gmail.com</p>
    </td>
  </tr>
</table>

<hr>

<div class="section">
  <span>Authors</span>
</div>
  
<table>
  <tr>
    <td class="avatar">
      <img src="../../assets/images/avatars/Fictional2-Avatar.jpg" alt="Fictional2">
    </td>
    <td class="text">
      <p>Mimla</p>
      <p>mimla@gmail.com</p>
    </td>
  </tr>
</table>

<table>
  <tr>
    <td class="avatar">
      <img src="../../assets/images/avatars/Fictional1-Avatar.jpg" alt="Fictional1">
    </td>
    <td class="text">
      <p>Joan</p>
      <p>joan@gmail.com</p>
    </td>
  </tr>
</table>